.social-icons a {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.group-box {
  border: 1px solid silver;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 24px;
}

.group-box legend {
  border: 1px solid silver;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  width: auto;
}

.navbar {
  background-color: #94d4d9;
}

.traguardi .col {
  background: #d6f9ff;
  background: -moz-linear-gradient(45deg, #d6f9ff 0%, #9ee8fa 100%);
  background: -webkit-linear-gradient(45deg, #d6f9ff 0%, #9ee8fa 100%);
  background: linear-gradient(45deg, #d6f9ff 0%, #9ee8fa 100%);
}

.traguardi .col.richieste-soddisfatte {
  background: #d2ff52;
  background: -moz-linear-gradient(45deg, #d2ff52 0%, #91e842 100%);
  background: -webkit-linear-gradient(45deg, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(45deg, #d2ff52 0%, #91e842 100%);
}

.traguardi .col.persone-servite {
  background: #febbbb;
  background: -moz-linear-gradient(-45deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: -webkit-linear-gradient(-45deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(135deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}

.traguardi .col h1 {
  font-size: 64px;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.foto-profilo {
  height: 128px;
  width: 128px;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  display: inline-block;
  position: relative;
  background-size: contain;
}

.foto-profilo-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  line-height: 128px;
  text-align: center;
  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.foto-profilo-overlay:hover {
  opacity: 1;
}

.appy-icon {
  width: 80px;
  height: 80px;
  font-size: 48px;
  text-align: center;
  border-radius: 16px;
  display: inline-block;
  line-height: 80px;
  color: dimgray;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  margin-bottom: 8px;
}

.appy-link {
  text-decoration: none;
  color:inherit;
  display: block;
  max-height: 256px;
}
.appy-link:hover {
  text-decoration: none;
  color:inherit;
}

.appy-link .label {
  font-weight: bold;
} 

.appy-link .caption {
  font-size: 12px;
}