.social-icons a {
    display:inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.group-box {
    border: 1px solid silver;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 24px;
}

.group-box legend {
    border: 1px solid silver;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    width: auto;
}

.navbar {
    background-color: #94d4d9;
}