<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP8 via FastCGI" />
            <add name="PHP-7.4-FastCGI" path="*.php" verb="*" modules="CgiModule" scriptProcessor="E:\Dev\PHP\PHP74\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
