/*ul.menu-navigazione {
    padding:0;
    margin:0;
}

ul.menu-navigazione li { 
    background-color: whitesmoke;
    margin:0;
    padding:0;
}

ul.menu-navigazione li a {
    
    display: block;
    padding:0;
    
}

ul.menu-navigazione li .fa {
    width: 48px;
    height: 48  px;
    background-color: silver;
    margin-right: 12px;
    color:white;
    line-height: 48px;
    font-size: 24px;
    text-align: center;
} */

.mw-320 {
  min-width: 320px;
}

.icona32 {
  max-width: 32px;
  max-height: 32px;
}
.icona48 {
  max-width: 48px;
  max-height: 48px;
}
.icona64 {
  max-width: 64px;
  max-height: 64px;
}
.icona128 {
  max-width: 128px;
  max-height: 128px;
}
.icona256 {
  max-width: 256px;
  max-height: 256px;
}
.icona32v {
  max-height: 32px;
}
.icona48v {
  max-height: 48px;
}
.icona64v {
  max-height: 64px;
}
.icona128v {
  max-height: 128px;
}
.icona256v {
  max-height: 256px;
}
