/*ul.menu-navigazione {
    padding:0;
    margin:0;
}

ul.menu-navigazione li { 
    background-color: whitesmoke;
    margin:0;
    padding:0;
}

ul.menu-navigazione li a {
    
    display: block;
    padding:0;
    
}

ul.menu-navigazione li .fa {
    width: 48px;
    height: 48  px;
    background-color: silver;
    margin-right: 12px;
    color:white;
    line-height: 48px;
    font-size: 24px;
    text-align: center;
} */

.mw-320 {
    min-width: 320px;
}